{% extends "base.html" %}
{% load humanize %}
{% block title %}
  SAGE - Pago
{% endblock %}
{% block innerContents %}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Mover Reservación
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-8" style="color:{{color}}">
        {{ mensaje }}
        <hr>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped">
        <thead></thead>
        <tbody>
          <tr><td><b><i class="fa fa-car"></i>
            Nombre del estacionamiento:
          </b></td></tr>
          <tr><td>
            {{reserva.estacionamiento.nombre}}
          </td></tr>

          <tr><td><b><i class="fa fa-clock-o"></i>
            Nuevo horario inicio de reserva:
          </b></td></tr>
          <tr><td>
            {{reserva.inicioReserva}}
          </td></tr>

          <tr><td><b><i class="fa fa-clock-o"></i>
            Nuevo horario fin de reserva:
          </b></td></tr>
          <tr><td>
            {{reserva.finalReserva}}
          </td></tr>

          <tr><td><b><i class="fa fa-money"></i>
            Monto a reembolsar
          </b></td></tr>
          <tr><td>
            BsF. {{monto_pagar|floatformat:2|intcomma }} 
          </td></tr>

          <tr><td><b><i class="fa fa-money"></i>
            Pago servicio: mover reservación
          </b></td></tr>
          <tr><td>
            BsF. {{pago_servicio|floatformat:2|intcomma }}
          </td></tr>
        </tbody>
      </table>
            <a href="/estacionamientos/reserva_devolver_dinero">
              <button type="submit" class="btn btn-primary">
                Continuar
              </button>
            </a>
    </div>
  </div>
{%endblock%}