{% extends "base.html" %}
{% load humanize %}
{% load firstof from future %}

{% block title %}
  SAGE - Estacionamiento
{% endblock %}
{% block innerContents%}

 <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamientos
    </h3>
    <hr>
      <div class="col-md-8" style="color:{{color}}">
        {{mensaje}}
      <hr>
      </div>

  {% if not mensaje %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>
              Configurar porcentaje de deduccion
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <form
            action="/estacionamientos/configuracion"
            method="post"
            class="form form-vertical"
          >
            {% csrf_token %}
              {% for field in form %}
                <div class="control-group">
                  <div class="controls">
                    {{ field }}
                    <span class='error' id='{{field.name}}_error' aria-live="   polite">{{ field.errors }}</span>
                    <p></p>
                  </div>
                </div>
              {% endfor %}
              <div class="control-group">
                <label></label>
                <div class="controls">
                  <button type="submit" class="btn btn-primary">
                    Continuar
                  </button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %} 
    {% if monto %}
    <div class="col-md-8">
        Porcentaje de deduccion: {{monto|floatformat:2}} % 
        <br><br>
     </div> 
    <hr>  
    <hr> 
    {% endif %}
    {% if mensaje %} 
    <div class="col-md-8"> 
      <a href="/estacionamientos/configuracion">
        <button class="btn btn-primary">
          Volver
        </button>
      </a>
    </div> 
    {% endif %} 
  </div>
{% include "validator.js.html" %}
{% endblock %}
