{% extends "base.html" %}
{% load humanize %}

{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamientos
    </h3>
    <hr>
    <div class="col-md-8">
      <table class="table table-striped">
        {% if listaIngresos %}
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            {% for ingreso in listaIngresos%}
              <tr>
                <td></td>
                <td>{{ingreso.0}}</td>
                <td>{{ingreso.1|floatformat:2|intcomma}}</td>
              </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td>Ingreso total</td>
              <td>{{ingresoTotal|floatformat:2|intcomma}}</td>
            </tr>
          </tbody>
        {% else %}
          <h3>Introduzca su RIF</h3>
        {% endif %}
      </table>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>Consultar Ingresos</h4>
          </div>
        </div>
        <div class="panel-body">
          <form
            action="/estacionamientos/ingreso"
            method="post"
            class="form form-vertical"
          >
            {% csrf_token %}
            {% for field in form %}
              <div class="control-group">
                <div class="controls">
                  {{ field }}
                  <span class='error' id='{{field.name}}_error' aria-live="polite">
                    {{ field.errors }}
                  </span>
                  <p></p>
                </div>
              </div>
            {% endfor %}
            <div class="control-group">
              <label></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary">
                  Continuar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
