<div class="col-sm-2">
  <h3><i class="glyphicon glyphicon-briefcase"></i>
      Menú
  </h3>
  <hr>
  <ul class="nav nav-stacked">
    <li><a href="/estacionamientos/configuracion"><i class="fa fa-wrench"></i>
      Configuracion SAGE
    </a></li>
    <li><a href=".."><i class="fa fa-bus"></i>
      Estacionamientos
    </a></li>
    <li><a href="/estacionamientos/menupropietario"><i class="fa fa-user"></i>
      Propietario
    </a></li>
    <li><a href="/estacionamientos/menubilletera"><i class="fa fa-cc-amex"></i>
      Billetera Electrónica
    </a></li>
    <li><a href="/estacionamientos/ingreso"><i class="fa fa-money"></i>
      Consultar Ingreso
    </a></li>
    <li><a href="/estacionamientos/consulta_reserva"><i class="fa fa-clock-o"></i>
      Consultar Reservas
    </a></li>
    <li><a href="/estacionamientos/cancelar_reserva"><i class="fa fa-times"></i>
      Cancelar Reserva
    </a></li>
    {% if estacionamiento.capacidad %}
      <li><a href="./"><i class="fa fa-wrench"></i>
        Parametrizar
      </a></li>
      <li><a href="./reserva"><i class="fa fa-pencil-square-o"></i>
        Reservar
      </a></li>
    {% endif %}
  </ul>
  <hr>
</div>

<style type="text/css">
  
.col-sm-2 {
  width : 18.667%;
  margin-left : -24px;
}

</style>

<!--
<style type="text/css">
  
.col-sm-2 {
  width: 18.667%;
}

</style>>
-->
