{% extends "base.html" %}
{% load humanize %}
{% block title %}
  SAGE - Pago
{% endblock %}
{% block innerContents %}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Mover reserva
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-8" style="color:{{color}}">
        Cambio exitoso!
        <hr>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped">
        <thead></thead>
        <tbody>
            <a href="/">
              <button type="submit" class="btn btn-primary">
                Cerrar
              </button>
            </a>
          </td></tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
