{% load humanize %}
<table class="table table-striped">
  <thead></thead>
  <tbody>
    {% if estacionamiento.capacidad %}
      <tr><td><b><i class="fa fa-car"></i> Puestos:</b></td></tr>
      <tr><td>{{estacionamiento.capacidad}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Horario apertura:</b></td></tr>
      <tr><td>{{estacionamiento.apertura}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Horario cierre:</b></td></tr>
      <tr><td>{{estacionamiento.cierre}}</td></tr>
    {% endif %}
    {% if tarifa %}
      <tr><td><b><i class="fa fa-circle"></i></i> Esquema:</b></td></tr>
      <tr><td>{{tarifa.tipo}} </td></tr>
    {% endif %}
    {% if tarifa.tipo == "Tarifa diferenciada para fines de semana" %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular:</b></td></tr>
      <tr><td>BsF. {{tarifa.tarifa}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa fin de semana:</b></td></tr>
      <tr><td>BsF. {{tarifa.tarifa2}}</td></tr>
    {% elif tarifa.tipo == "Tarifa diferenciada por hora pico" %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular:</b></td></tr>
      <tr><td>BsF. {{tarifa.tarifa}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa especial:</b></td></tr>
      <tr><td>BsF. {{tarifa.tarifa2}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Inicio tarifa especial:</b></td></tr>
      <tr><td>{{tarifa.inicioEspecial}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Fin tarifa especial:</b></td></tr>
      <tr><td>{{tarifa.finEspecial}}</td></tr>
    {% elif estacionamiento.capacidad %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa:</b></td></tr>
      <tr><td>BsF. {{tarifa.tarifa}} </td></tr>
    {% endif %}

    {% if tarifaFeriado %}
      <tr><td><b><i class="fa fa-circle"></i></i> Esquema Feriado:</b></td></tr>
      <tr><td>{{tarifaFeriado.tipo}} </td></tr>
    {% endif %}
    {% if tarifaFeriado.tipo == "Tarifa diferenciada para fines de semana" %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Feriado Regular:</b></td></tr>
      <tr><td>BsF. {{tarifaFeriado.tarifaFeriado}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Feriado Fin de Semana:</b></td></tr>
      <tr><td>BsF. {{tarifaFeriado.tarifa2Feriado}}</td></tr>
    {% elif tarifaFeriado.tipo == "Tarifa diferenciada por hora pico" %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Feriado Regular:</b></td></tr>
      <tr><td>BsF. {{tarifaFeriado.tarifaFeriado}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Feriado Horario Pico:</b></td></tr>
      <tr><td>BsF. {{tarifaFeriado.tarifa2Feriado}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Inicio Horario Pico en Feriado:</b></td></tr>
      <tr><td>{{tarifaFeriado.inicioEspecialFeriado}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Fin Horario Pico en Feriado:</b></td></tr>
      <tr><td>{{tarifaFeriado.finEspecialFeriado}}</td></tr>
    {% elif tarifaFeriado %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Feriado: </b></td></tr>
      <tr><td>BsF. {{tarifaFeriado.tarifaFeriado|floatformat:2|intcomma}}</td></tr>
    {% endif %}
  </tbody>
</table>