{% extends "base.html" %}

{% block title %}
  SAGE - Reservar en estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamiento {{estacionamiento.nombre}}
    </h3>
    <hr>
    <div class="col-md-4">
      {% include "datos.html" %}
    </div>
    <div class="col-md-4">
      {% include "parametros.html" %}
    </div>
    <div class="col-md-4">
      {% include "reservar-form.html" %}
    </div>
  </div>
{% endblock %}
