{% extends "base.html" %}

{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Tasa de Reservacion del Estacionamiento {{estacionamiento.nombre}}
    </h3>
    <hr>
    <div class="col-md-6">
      {% include "tabla-tasa-reservacion.html" %}
    </div>
    <div class="col-md-6">
		<img class="img-responsive" src="/estacionamientos/grafica/?{{ datos_ocupacion}}">
    </div>
  </div>
{% endblock %}
