<script type="text/javascript">
  var inputs = document.getElementsByTagName("input");
  var inputs_len = inputs.length;
  var addDirtyClass = function(evt) {
    evt.srcElement.classList.toggle("dirty", true);
  };
  for (var i = 0; i < inputs_len; i++) {
    var input = inputs[i];
    input.addEventListener("focus", addDirtyClass);
    input.addEventListener("invalid", addDirtyClass);
    input.addEventListener("valid", addDirtyClass);
  }
  function verifyPattern(input, error, error_message) {
    if (input.validity.valid) {
      error.innerHTML = ""; // Reset the content of the message
      error.className = "error"; // Reset the visual state of the message
    }
    else {
      if (input.validity.rangeUnderflow) {
        error.innerHTML = "El minimo valor de este campo debe ser " + input.getAttribute('min');
      }
      else if (input.validity.rangeOverflow) {
        error.innerHTML = "El maximo valor de este campo debe ser " + input.getAttribute('min');
      }
      else if (input.validity.tooLong) {
        error.innerHTML = "Este campo debe tener un maximo de " + input.getAttribute('maxlength') + "caracteres";
      }
      else {
        error.innerHTML = error_message;
      }
      error.className = "error active";
    }
  };
  {% for field in form %}
    var error_{{ field.name }} = document.getElementById('{{ field.name }}_error')
    var {{ field.name }} = document.getElementById('id_{{ field.name }}');
    {{ field.name }}.addEventListener('blur', function (event) {
      verifyPattern({{ field.name }}, error_{{ field.name }}, {{ field.name }}.getAttribute('message'));
    }, false);

    {{ field.name }}.addEventListener('focus', function (event) {
      error_{{ field.name}}.innerHTML = ""; // Reset the content of the message
      error_{{ field.name}}.className = "error"; // Reset the visual state of the message
    }, false);
  {% endfor %}
</script>
